[Unit]
Description=hmip-dongle
After=network.target

[Service]
ExecStart=/home/pi/squid_nodes/node-red-rpi-hmip/hmip-rf-usb.sh
User=root

[Install]
WantedBy=multi-user.target
